body {
  font-size: 20px;
  font-family: "anime", "BenchNine", sans-serif;
  font-weight: 350;
  font-style: normal;
  color: #3a3737;

  width: 1300px;
  margin: auto;
  background-image: url("imagenes/fondo1_page-0001.jpg"); /* Ruta de la imagen de fondo */
  background-attachment: fixed; /* Fija la imagen de fondo */
  background-position: center;
}
@font-face {
  font-family: anime;
  src: url("Fuentes/animeace2_bld.otf") format("opentype");
}
@font-face {
  font-family: titulo;
  src: url("Fuentes/bloodcrow.ttf") format("truetype");
}

.contenedorbase {
  width: 100%; /* Ancho del contenedor */
  margin: 0 auto; /* Centrar el contenedor horizontalmente */
  border: solid black 3px;
  border-radius: 30px;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 1.9); /* Sombra de fondo */
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "titulo";
  font-size: 100px;
  color: rgb(51, 46, 46);

  align-items: center;
  margin-top: 50px;
  margin-bottom: 80px;
}

.contenido {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-direction: row;
}

.menu1 {
  margin-bottom: 20px;
  font-size: 15px;
}

.menu1 ul {
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;
}

.menu1 a {
  margin-right: 80px;
  text-decoration: none;
  color: #3a3737;
  border: solid black 2px;
  border-radius: 50px;
  background-color: whitesmoke;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5); /* Sombra interna para dar profundidad */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Sombra de fondo */
}
.menu1 li a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  display: inline-block;
  transition: transform 0.2s ease;
}

/* Efecto de hover */
.menu1 li a:hover {
  transform: scale(1.1); /* Agrandar el enlace */
}

/* Parte de menu de imagenes-------------------------------------- */

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
}

.carousel img {
  width: 1000px;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
  border: solid black 4px;
}

.dots-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}
.carousel {
  display: flex; /* Utilizar flexbox para centrar las im치genes */
  justify-content: center; /* Centrar las im치genes horizontalmente */
  align-items: center; /* Centrar las im치genes verticalmente */
}

/* ------------------------------------------------------------ */

.contenedor2 {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.contenido2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px;
}
.contenido2 a {
  text-decoration: none;
  color: #3a3737;
}

.contenido2 img {
  border-radius: 10px;
}

h2 {
  text-align: center;
}

.iluminar img {
  transition: filter 0.3s ease; /* Transici칩n suave */
}

/* Efecto al pasar el cursor */
.iluminar:hover img {
  filter: brightness(120%); /* Aumenta el brillo al 120% */
}

/* footer */
.contenedor3 {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.contenido3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px;
  padding: 50px;
  background-color: rgb(53, 51, 51);
  border-radius: 40px;
}
.contenido3 a {
  text-decoration: none;
  color: whitesmoke;
}
.contenido3 ul {
  list-style: none;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  font-style: oblique;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  color: whitesmoke;
  text-align: center;
}

p {
  color: whitesmoke;
}

.iconos {
  font-size: 30px;
}
.iconos i {
  margin-right: 40px;
}
